---
version: '3'
services:

# START SERVICE ksqldb_cli.base
  ksqldb_cli:
    image: ${CONTECO_REGISTRY}confluentinc/ksqldb-cli:0.12.0 
    environment: []
    command: []
    volumes: []
    ports: []
    networks: [${CONTECO_NETWORKLOCAL}_overlay]
    deploy:
      mode: replicated
      resources:
        limits:
          memory: '${CONTECO_DC_KSQLDB_CLI_DEPLOY_RESOURCES_LIMITS_MEMORY}'
        reservations:
          memory: '${CONTECO_DC_KSQLDB_CLI_DEPLOY_RESOURCES_RESERVATIONS_MEMORY}'
${CONTECO_DC_KSQLDB_CLI_COMPOSE_EXTENSIONS}
# END SERVICE ksqldb_cli.base

networks: {${CONTECO_NETWORKLOCAL}_overlay: { external: true }}
volumes: {}
${CONTECO_DC_GLOBAL_COMPOSE_EXTENSIONS}
